<h2>TRIVIA NIGHT RULES RULES</h2>

<ol>
    <li>
        <strong>Quiz master/Judge’s (my) decisions will be final! No correspondence shall be entered into and red and
            yellow cards maybe be issued along with the deduction of points..</strong>
    </li>
    <li>
        Maximum team size is 8 persons. If you are smart enough to go with less...so be it! Once a player has
        left the competition they will not be allowed to rejoin until the completion of the current round of
        questions.
    </li>
    <li>
        Keep your team discussions to a low roar unless you want the neighboring team to eavesdrop, or
        alternatively, discuss loudly an incorrect answer and hope they WILL be eavesdropping. Anything goes.
        Team taunting is definitely allowed.
    </li>
    <li>
        <strong>Judges are allowed</strong> to sample any food or beverage on any table they so chooses and it should be
        regarded as an honour to have them at your table and further, this should be encouraged.
    </li>
    <li>
        HAVE FUN!!!
    </li>
    <li>
        <strong>Final and most important rule</strong>, see Rule 1.
    </li>
    <br>
    <a routerLink='../quiz'><button class="btn btn-success">Take the Quiz!</button></a>
    <!-- <button class="btn btn-success">Take the Quiz!</button> -->
    
</ol>