<form *ngIf="showForm" #userForm="ngForm" (ngSubmit)="submit(userForm)">
    <div class="form-group">
        <label for="quizTopic">Quiz Topic</label>
        <select required name="quizTopic" class="form-control" ngModel>
            <option value=""></option>
            <option *ngFor="let topic of quizTopics" [value]="topic">{{ topic }}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="userForm.invalid">Begin Quiz</button>
</form>
<br>

<div *ngIf="!showForm && showQuiz">
    <h3>{{quizTopic}} Quiz</h3>
    <hr><br>
    <ul>
        <li>There are <strong>10 Questions</strong> in this quiz</li>
        <li>You can't go back to the previous question</li>
        <li>Passing score is <strong>80%</strong></li>
    </ul>
    <br><hr>


    <h5>{{index + 1}}/10</h5>
    <h3>{{questionArray[index]}}</h3>
    <form #quizForm="ngForm" (ngSubmit)="checkForm(quizForm)">
        <div class="radio">
           <input type="radio" required name="options" value="{{optionAArray[index]}}" [(ngModel)]="answer"> {{optionAArray[index]}} <br>
           <input type="radio" required name="options" value="{{optionBArray[index]}}" [(ngModel)]="answer"> {{optionBArray[index]}} <br>
           <input type="radio" required name="options" value="{{optionCArray[index]}}" [(ngModel)]="answer"> {{optionCArray[index]}} <br>
           <input type="radio" required name="options" value="{{optionDArray[index]}}" [(ngModel)]="answer"> {{optionDArray[index]}} <br>
        </div>
        <br>
        <button type="submit" class="btn btn-success" [disabled]="quizForm.invalid">{{next_submit}}</button>
    </form>
</div>

<div *ngIf="!showQuiz && correct >= 8">
    <h3>Congratulations!!</h3>
    <h4>You scored {{correct*10}}%</h4>
</div>
<div *ngIf="!showQuiz && correct < 8">
    <h3>Keep up the work :(</h3>
    <h3>You scored {{correct*10}}%</h3>
    <hr>
    <h2>Review</h2>
    <div class="questions" *ngFor="let ques of wrongQuestions">
        <h3>{{ques[0]}}</h3>
        <p class="right">{{ques[1]}}</p>
        <p class="wrong">{{ques[2]}}</p>
        <hr>
    </div>
</div>